
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}


.content {
    margin: auto;
    padding-top: 30px;
    width: 500px;
}

button {
    justify-items: center;
    background-color: rgb(66, 66, 159);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;

}
button:hover {
    cursor: pointer;
    background-color: rgb(180, 47, 144) ;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(180, 47, 144, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150mx;

}

.time {
    float: right;
    font-style: oblique;
}

.first-question {
    display: none;
    margin: auto;
    padding-top: 30px;
    width: 500px;
    text-align: justify;
}

.first-question h1 {
    font-weight: bold;
    text-align: center;
    text-align: left;
}

ul {
    float: left;
    text-decoration: none;
    padding: 0;
}
.options-list{
    display: block;
    margin: auto;
    padding-top: 30px;
    width: 500px;
    text-align: justify;
} 
.choice-text {
    background-color: rgb(66, 66, 159);
    color: #ffffff;
    padding: 10px; 
    border-radius: 15px;
    margin-bottom: 3px;
    width: 180px;

}
.choice-text:hover{
    cursor: pointer;
    background-color: rgb(180, 47, 144) ;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(180, 47, 144, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150mx;
}
.correct-response {
    display: none;
    padding: .5rem; 
    font-size: 1.5rem;
    font-style: italic;
    border-top: 1px solid #9e9e9e;
    margin-top: 20px;
    color:#9e9e9e;
}
.incorrect-response {
    display: none; 
    padding: .5rem; 
    font-size: 1.5rem;
    font-style: italic;
    border-top: 1px solid #9e9e9e;
    margin-top: 20px;
    color:#9e9e9e;
}
.form-container {
    display: none;
    margin: auto;
    padding-top: 30px;
    width: 500px;
    text-align: justify;
}
.form-container h1 {
    font-weight: bold;
    text-align: left;
}

form {
    display: flex; 
    flex-direction: row;
    position: center; 
    align-items: center; 
    font-size: 16px;
 

}
.form-elements {
    display:flex;
}
.form-container p {
    font-size: 20px;
    display:inline-block;

}
input {
    border: 1px solid;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
    width:250px;
}
#saveScoreBtn {
    font-size: 20px;
}

.btn .submit {
    display: none;
    padding-left: 10px;
}
p .score {
    font-size: 25px;
}
label {
    font-size: 25px;
    padding-right: 5px;
}
.highscore-container {
    display: none; 
    margin: auto;
    padding-top: 30px;
    width: 500px;
}
.btn-container{
    margin: auto;
    padding-left: 140px;
    list-style:none;
}